{% extends 'web/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="chanpin-body">
        <div class="chanpin-body-img">
            <img src="{% static 'images/line.png' %}" style="margin-bottom: 50px;">
            <img src="{% static 'images/p10.png' %}">
        </div>
        <div class="puyuan-content">
            <div class="puyuan-content-top">
                <div class="puyuan-img"><img src="{% static 'images/p2.png' %}"></div>
                <div class="puyuan-text">
                    <p>纯净的土地，极度的干旱</p>
                    <p>丰富的风力、充足的日照</p>
                    <p>为龙驿种植葡萄提供了极好的生长环境</p>
                    <p>最大程度保证了葡萄的品质</p>
                </div>
            </div>
            <ul class="py-btn">
                <li style="margin-right: 13.5%;">
                    <img src="{% static 'images/p3.png' %}">
                    <span>沙砾富硒土壤</span>
                    <span>有效提升葡萄品质</span>
                </li>
                <li style="margin-right: 13.5%;">
                    <img src="{% static 'images/p4.png' %}">
                    <span>3550h/年 超长日照 </span>
                    <span>有利于糖分和营养物质的积累</span>
                </li>
                <li style="margin-right:0;">
                    <img src="{% static 'images/p5.png' %}">
                    <span>少降雨，高蒸发 </span>
                    <span>病虫害难以滋生</span>
                </li>
            </ul>
        </div>
        <!-- 限量 -->
        <div class="chanpin-body-img">
            <img src="{% static 'images/line.png' %}" style="margin-bottom: 50px;">
            <img src="{% static 'images/p10.png' %}">
        </div>
        <div class="puyuan-content">
            <div class="puyuan-content-top">
                <div class="puyuan-img" style="float: right;margin-right: 8.01%;padding-left: 0;"><img
                        src="{% static 'images/p6.png' %}"></div>
                <div class="puyuan-text" style="margin-left: 2.01%;margin-right: 0.05% !important;">
                    <p>纯净的土地，极度的干旱</p>
                    <p>丰富的风力、充足的日照</p>
                    <p>为龙驿种植葡萄提供了极好的生长环境</p>
                    <p>最大程度保证了葡萄的品质</p>
                </div>
            </div>
            <ul class="py-btn">
                <li style="margin-right: 9.9%;">
                    <img src="{% static 'images/p12.png' %}">
                    <span>疏果</span>
                    <span>让每一粒葡萄更多地吸收营养物质</span>
                </li>
                <li style="margin-right: 3.9%;">
                    <img src="{% static 'images/p13.png' %}">
                    <span>控水 </span>
                    <span>水滴灌溉便于控制温度和湿度，减少病虫害</span>
                </li>
                <li style="margin-right:0;">
                    <img src="{% static 'images/p14.png' %}">
                    <span>零肥 </span>
                    <span>不催大，不催熟，让葡萄自然生长</span>
                </li>
            </ul>
        </div>
        <div class="chanpin-body-img">
            <img src="{% static 'images/line.png' %}" style="margin-bottom: 50px;">
            <img src="{% static 'images/p8.png' %}">
        </div>
        <div class="chanpin-rongyu"><img src="{% static 'images/p7.png' %}"></div>
        <div class="chanpin-body-img">
            <img src="{% static 'images/line.png' %}" style="margin-bottom: 50px;">
            <img src="{% static 'images/p9.png' %}">
        </div>
        <div class="puyuan-foot"><img src="{% static 'images/p11.png' %}"></div>
    </div>
{% endblock %}