{% extends 'web/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="chanpin-body">
        <div class="chanpin-body-img">
            <img src="{% static 'images/line.png' %}" style="margin-bottom: 50px;">
            <img src="{% static 'images/text.png' %}">
        </div>
        <div class="chanpin-body-text">
            <div class="body-text-img"><img src="{% static 'images/img7.jpg' %}"></div>
            <div class="body-right-text">
                <h1>漠天得陶罐赤霞珠干红葡萄酒 · 2013</h1>
                <h2>陶罐陈酿 口感纯净</h2>
                <div class="body-span">
                    <span>产区：宁夏红寺堡</span>
                    <span>类型：干型</span>
                    <span>含量：750ml</span>
                    <span>度数：13.5%vol</span>
                </div>
                <p class="chanpin-p">
                    龙驿陶罐干红葡萄酒是选用宁夏贺兰山东麓龙驿葡萄庄园的赤霞珠葡萄为原料。当葡萄完全成熟后，经过人工采摘，一粒粒新鲜成熟饱满的葡萄，须在4小时之内，离开藤蔓进入酒罐。酿造过程，拒绝任何物理过滤，采用静置沉淀法，再经过四川深山红泥陶土烧制而成的陶罐陈酿三年，用漫长的时光让酒体清澈玲珑。该酒酒体纯净，果香浓郁，风味物质充沛，单宁细腻柔和，层次丰富，能够完美体现贺兰山东麓的风土特性。</p>
                <div class="dinggou">立即订购</div>
            </div>
        </div>
        <div class="chanpin-body-text">
            <div class="body-text-img"><img src="{% static 'images/img7.jpg' %}"></div>
            <div class="body-right-text">
                <h1>漠天得陶罐赤霞珠干红葡萄酒 · 2013</h1>
                <h2>陶罐陈酿 口感纯净</h2>
                <div class="body-span">
                    <span>产区：宁夏红寺堡</span>
                    <span>类型：干型</span>
                    <span>含量：750ml</span>
                    <span>度数：13.5%vol</span>
                </div>
                <p class="chanpin-p">
                    龙驿陶罐干红葡萄酒是选用宁夏贺兰山东麓龙驿葡萄庄园的赤霞珠葡萄为原料。当葡萄完全成熟后，经过人工采摘，一粒粒新鲜成熟饱满的葡萄，须在4小时之内，离开藤蔓进入酒罐。酿造过程，拒绝任何物理过滤，采用静置沉淀法，再经过四川深山红泥陶土烧制而成的陶罐陈酿三年，用漫长的时光让酒体清澈玲珑。该酒酒体纯净，果香浓郁，风味物质充沛，单宁细腻柔和，层次丰富，能够完美体现贺兰山东麓的风土特性。</p>
                <div class="dinggourexian">订购热线：17723457658</div>
            </div>
        </div>
        <div class="chanpin-body-text">
            <div class="body-text-img"><img src="{% static 'images/img7.jpg' %}"></div>
            <div class="body-right-text">
                <h1>漠天得陶罐赤霞珠干红葡萄酒 · 2013</h1>
                <h2>陶罐陈酿 口感纯净</h2>
                <div class="body-span">
                    <span>产区：宁夏红寺堡</span>
                    <span>类型：干型</span>
                    <span>含量：750ml</span>
                    <span>度数：13.5%vol</span>
                </div>
                <p class="chanpin-p">
                    龙驿陶罐干红葡萄酒是选用宁夏贺兰山东麓龙驿葡萄庄园的赤霞珠葡萄为原料。当葡萄完全成熟后，经过人工采摘，一粒粒新鲜成熟饱满的葡萄，须在4小时之内，离开藤蔓进入酒罐。酿造过程，拒绝任何物理过滤，采用静置沉淀法，再经过四川深山红泥陶土烧制而成的陶罐陈酿三年，用漫长的时光让酒体清澈玲珑。该酒酒体纯净，果香浓郁，风味物质充沛，单宁细腻柔和，层次丰富，能够完美体现贺兰山东麓的风土特性。</p>
                <div class="dinggourexian">订购热线：17723457658</div>
            </div>
        </div>
        <div class="chanpin-body-img">
            <img src="{% static 'images/line.png' %}" style="margin-bottom: 50px;">
            <img src="{% static 'images/a8.png' %}">
        </div>
        <!--两行-->
        <ul class="chanpin-list">
            <li>
                <a href="#">
                    <img src="{% static 'images/a1.png' %}">
                    <span>中国有机
		    <br/>产品认证</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{% static 'images/a2.png' %}">
                    <span>亚洲葡萄酒
			<br/>大赛铜奖</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{% static 'images/a3.png' %}">
                    <span>亚洲葡萄酒
			<br/>指南铜奖</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{% static 'images/a4.png' %}">
                    <span>品醇客葡萄酒
			<br/>大赛铜奖</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{% static 'images/a5.png' %}">
                    <span>WINE100葡萄酒
			<br/>大赛金奖</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{% static 'images/a6.png' %}">
                    <span>中国原产地域
			<br/>产品保护</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{% static 'images/a7.png' %}">
                    <span>德国有机葡萄酒
			<br/>大赛金奖</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}