{% extends 'web/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="chanpin-body">
        <div class="chanpin-body-img">
            <img src="{% static 'images/line.png' %}" style="margin-bottom: 50px;">
            <img src="{% static 'images/a9.png' %}">
        </div>
        <div class="jiu-content">
            <ul>
                <li>
                    <div class="jiu-img"><img src="{% static '' %}images/a21.png"></div>
                    <div class="jiu-text-right">
                        <img src="{% static 'images/a10.png' %}">
                        <p>
                            龙驿酒庄占地面积50亩，2015年开庄，由宁夏天得葡萄酒业有限公司全力打造，是国内唯一一家采用陶罐酿造葡萄酒的酒庄。酒庄坚守自然理念，采用全程无化学介入的种植、酿酒方式，让龙驿的每一瓶葡萄酒，都拥有纯净品质，并获得国家有机葡萄酒认证。</p>
                    </div>
                </li>
                <li>
                    <div class="jiu-text-right" style="float: left;margin-left: 9%;">
                        <img src="{% static 'images/a13.png' %}">
                        <p>
                            龙驿酒庄占地面积50亩，2015年开庄，由宁夏天得葡萄酒业有限公司全力打造，是国内唯一一家采用陶罐酿造葡萄酒的酒庄。酒庄坚守自然理念，采用全程无化学介入的种植、酿酒方式，让龙驿的每一瓶葡萄酒，都拥有纯净品质，并获得国家有机葡萄酒认证。</p>
                    </div>
                    <div class="jiu-img" style="margin-left: 0;"><img src="{% static 'images/w1.png' %}"></div>
                </li>
                <li>
                    <div class="jiu-img"><img src="{% static 'images/w2.png' %}"></div>
                    <div class="jiu-text-right">
                        <img src="{% static 'images/a11.png' %}">
                        <p>
                            龙驿酒庄占地面积50亩，2015年开庄，由宁夏天得葡萄酒业有限公司全力打造，是国内唯一一家采用陶罐酿造葡萄酒的酒庄。酒庄坚守自然理念，采用全程无化学介入的种植、酿酒方式，让龙驿的每一瓶葡萄酒，都拥有纯净品质，并获得国家有机葡萄酒认证。</p>
                    </div>
                </li>
                <li>
                    <div class="jiu-text-right" style="float: left;margin-left: 9%;">
                        <img src="{% static 'images/a14.png' %}">
                        <p>
                            龙驿酒庄占地面积50亩，2015年开庄，由宁夏天得葡萄酒业有限公司全力打造，是国内唯一一家采用陶罐酿造葡萄酒的酒庄。酒庄坚守自然理念，采用全程无化学介入的种植、酿酒方式，让龙驿的每一瓶葡萄酒，都拥有纯净品质，并获得国家有机葡萄酒认证。</p>
                    </div>
                    <div class="jiu-img" style="margin-left: 0;"><img src="{% static 'images/w3.png' %}"></div>
                </li>
                <li>
                    <div class="jiu-img"><img src="{% static 'images/w4.png' %}"></div>
                    <div class="jiu-text-right">
                        <img src="{% static 'images/a12.png' %}">
                        <p>
                            龙驿酒庄占地面积50亩，2015年开庄，由宁夏天得葡萄酒业有限公司全力打造，是国内唯一一家采用陶罐酿造葡萄酒的酒庄。酒庄坚守自然理念，采用全程无化学介入的种植、酿酒方式，让龙驿的每一瓶葡萄酒，都拥有纯净品质，并获得国家有机葡萄酒认证。</p>
                    </div>
                </li>
            </ul>
        </div>
        <!--两行-->
        <ul class="chanpin-list">
            <ul class="chanpin-list_img">
                <li>
                    <img src="{% static 'images/s1.png' %}">
                    <span>客房</span>
                </li>
                <li>
                    <img src="{% static 'images/s2.png' %}">
                    <span>餐厅</span>
                </li>
                <li>
                    <img src="{% static 'images/s3.png' %}">
                    <span>品酒室</span>
                </li>
                <li>
                    <img src="{% static 'images/s4.png' %}">
                    <span>KTV</span>
                </li>
            </ul>
        </ul>
    </div>
{% endblock %}